# Using SQLite

In [29]:
import sqlite3

## Connecting SQLite to the Database

In [30]:
# Create a database in RAM
db=sqlite3.connect(':memory:') #database object

In [4]:
# Creates or opens a file called mydb with a sqllite3DB
db=sqlite3.connect('TestDB')

In [5]:
# to close the connection
db.close()

## CRUD Operation-Create

In [6]:
#create table

In [39]:
db=sqlite3.connect('MyDB')

In [40]:
# get  a cursor object
cur=db.cursor()

In [41]:
# Drop table if it already exist using execute()method.
if cur.execute("DROP TABLE IF EXISTS custs"):
    print('Drop commond Successful')

Drop commond Successful

In [103]:
# Create Table 
if cur.execute('CREATE TABLE custs (id INTEGER PRIMARY KEY,name TEXT,phone TEXT,email TEXT unique,course TEXT)'):
    print('Table Created')

Table Created

In [43]:
db.commit()

In [44]:
cur.close()

In [45]:
db.close()

## CRUD OPeration -Insert

In [46]:
#value can be passed as tuple or dictionary

In [47]:
## Insert##

In [48]:
db=sqlite3.connect('MyDB')
cur=db.cursor()

In [49]:
# Insert into custs

In [50]:
if cur.execute('INSERT INTO custs(name,course) VALUES(?,?)',('Anup','python')):
    print('1 Record Inserted Successfully')

1 Record Inserted Successfully

In [51]:
if cur.execute('INSERT INTO custs(name,course) VALUES(?,?)',('Neel','java')):
    print('2 Record Inserted Successfully')

2 Record Inserted Successfully

In [52]:
# Insert into custs From Dictionary

In [53]:
if cur.execute('INSERT INTO custs(name,course) VALUES(:name,:course)',{'name':'vishal','course':'python'}):
    print('3 Record Inserted Successfully')

3 Record Inserted Successfully

In [54]:
# # Insert into custs using executemany

In [55]:
if cur.executemany('INSERT INTO custs(name,course) VALUES(?,?)',[('vishal','python'),('Viraj','Android')]):
    print('4 Record Inserted Successfully')

4 Record Inserted Successfully

In [56]:
db.commit()
cur.close()
db.close()

## CRUD Operation -select(READ)

In [57]:
## Select##

In [58]:
db=sqlite3.connect('MyDB')
cur=db.cursor()

In [59]:
# Select cursor for custs

In [60]:
if cur.execute('SELECT name,course from custs'):
    print('Record cursor is ready')

Record cursor is ready

In [61]:
# Fetch using fetchone()

In [62]:
record1=cur.fetchone()
print(record1)

('Anup', 'python')

In [63]:
# Fetch using fetchall()

In [64]:
recordsall=cur.fetchall()
for record in recordsall:
    print('{0},{1}'.format(record[0],record[1]))

Neel,java
vishal,python
vishal,python
Viraj,Android

In [65]:
db.commit()
cur.close()
db.close()

In [66]:
## select -continue##

In [67]:
db=sqlite3.connect('MyDB')
cur=db.cursor()

In [68]:
if cur.execute('SELECT name,course from custs'):
    print('Record cursor is ready')

Record cursor is ready

In [69]:
# cursor object used as iterator

In [70]:
for record in cur:
     print('{0},{1}'.format(record[0],record[1]))

Anup,python
Neel,java
vishal,python
vishal,python
Viraj,Android

In [71]:
# select with where clause

In [72]:
if cur.execute('SELECT name,course from custs WHERE name=?',('Anup',)):
    print('Record cursor is ready')

Record cursor is ready

In [73]:
# Cursor object used as iterator

In [74]:
for record in cur:
    print('{0},{1}'.format(record[0],record[1]))

Anup,python

In [75]:
if cur.execute('SELECT name,course from custs WHERE course=?',('python',)):
    print('Record cursor is ready')

Record cursor is ready

In [76]:
for record in cur:
    print('{0},{1}'.format(record[0],record[1]))

Anup,python
vishal,python
vishal,python

In [77]:
db.commit()
cur.close()
db.close()

## Crud operation-update

In [78]:
# update process is same like insert

In [79]:
#don't forgate to commit to save the change

In [80]:
## Update##

In [81]:
db=sqlite3.connect('MyDB')
cur=db.cursor()

In [82]:
if cur.execute('UPDATE custs SET course =? WHERE name =?',('Spark','Anup')):
    print('Record Update successfully')

Record Update successfully

In [83]:
# select with where clause

In [84]:
if cur.execute('SELECT name,course from custs WHERE name =?',('Anup',)):
    print('Record cursor is ready')

Record cursor is ready

In [85]:
for record in cur:
     print('{0},{1}'.format(record[0],record[1]))

Anup,Spark

In [86]:
db.commit()
cur.close()
db.close()

### CRUD Operation-Delete (imp)

In [88]:
# delete kevel data delete krta hai but Drop pura table delete kr deta hai

In [89]:
# delete record with name equal to john

In [90]:
db=sqlite3.connect('MyDB')
cur=db.cursor()

In [92]:
# insert into custs
if cur.execute('DELETE FROM custs WHERE name =?',('Neel',)):
        print('Record Update successfully')

Record Update successfully

In [93]:
# select cursor for custs
if cur.execute('SELECT name,course from custs'):
    print('Record cursor is ready')

Record cursor is ready

In [94]:
for record in cur:
     print('{0},{1}'.format(record[0],record[1]))

Anup,Spark
vishal,python
vishal,python
Viraj,Android

In [95]:
db.rollback()

In [96]:
if cur.execute('SELECT name,course from custs'):
    print('Record cursor is ready')

Record cursor is ready

In [97]:
for record in cur:
     print('{0},{1}'.format(record[0],record[1]))

Anup,Spark
Neel,java
vishal,python
vishal,python
Viraj,Android

In [98]:
### if you are not committing than  you can rollback() and get previously commited state

In [99]:
db.commit()
cur.close()
db.close()

## DROP table

In [100]:
db=sqlite3.connect('MyDB')
cur=db.cursor()

In [101]:
if cur.execute('DROP TABLE custs'):
    print('Table is droped')

Table is droped

In [102]:
### now table is deleted

### Task(to make table upto 5)

In [104]:
db=sqlite3.connect('MyDB')
cur=db.cursor()

In [117]:
# Create Table 
if cur.execute('CREATE TABLE multable (num1 integer,num2 integer,num3 integer,num4 integer,num5 integer)'):
    print('Table Created')

Table Created

In [128]:
for i  in range(1,11,1):
    if cur.execute('INSERT INTO multable(num1,num2,num3,num4,num5) VALUES(?,?,?,?,?)',(i,i*2,i*3,i*4,i*5)):
         print('{} Record Inserted Successfully'.format(i))

1 Record Inserted Successfully
2 Record Inserted Successfully
3 Record Inserted Successfully
4 Record Inserted Successfully
5 Record Inserted Successfully
6 Record Inserted Successfully
7 Record Inserted Successfully
8 Record Inserted Successfully
9 Record Inserted Successfully
10 Record Inserted Successfully

In [129]:
if cur.execute('SELECT num1,num2,num3,num4,num5 from multable'):
    print('Record cursor is ready')

Record cursor is ready

In [130]:
for i in cur:
     print('{} {} {} {} {}'.format(i[0],i[1],i[2],i[3],i[4]))

1 2 3 4 5
2 4 6 8 10
3 6 9 12 15
4 8 12 16 20
5 10 15 20 25
6 12 18 24 30
7 14 21 28 35
8 16 24 32 40
9 18 27 36 45
1 2 3 4 5
2 4 6 8 10
3 6 9 12 15
4 8 12 16 20
5 10 15 20 25
6 12 18 24 30
7 14 21 28 35
8 16 24 32 40
9 18 27 36 45
10 20 30 40 50

In [131]:
# cur.execute("SELECT * from multable")
 #for i in cur:
    #print(i[0],i[1],i[2],i[3],i[4],)

IndentationError: unexpected indent (<ipython-input-131-7da4374485dc>, line 2)