# Arithmatic Operator

### Plus

In [1]:
a=5
b=5
c=a+b
print(c)

10

In [2]:
str='str1'+'str2'
print(str)

str1str2

### Minus

In [3]:
c=3-2
print(c)

1

In [4]:
c=4.5-3
print(c)

1.5

In [5]:
type(c)

float

In [6]:
e=-5.6
print(e)

-5.6

### Multiplication

In [7]:
a=5
b=5
c=a*b
print(c)

25

In [8]:
3.5*4.5

15.75

### Mod

In [9]:
12%3

0

In [10]:
15%4

3

### Power

In [11]:
3**2

9

In [12]:
3**5

243

# Relational Operator

### less than

In [13]:
x=5
y=6
x<y

True

In [14]:
y<x

False

### Greater than

In [15]:
y>x

True

In [16]:
x>y

False

In [17]:
3>5

False

In [18]:
z=9
x>y>z

False

In [19]:
x<y>z

False

### Less Than Equals to

In [20]:
x<=y

True

In [21]:
y=6
x<=y

True

In [22]:
z<=y

False

### GReater than Equals to

In [23]:
x>=y

False

x=7
x>=y

In [ ]:
z>=y

In [27]:
z>=x

True

### Equals to

In [28]:
x==y

False

### Not Equals to

In [29]:
x!=y

True

# Logical Operator

### OR

In [32]:
x=True
y=False
z=True
w=False

In [33]:
x or y

True

In [34]:
y or w

False

In [35]:
x or y or z

True

### AND

In [36]:
x and y

False

In [37]:
x and z

True

In [38]:
x and y and z

False

### NOT

In [40]:
not x

False

In [41]:
x not y

SyntaxError: invalid syntax (<ipython-input-41-c69f1d0f5b86>, line 1)

# User Input and Output

In [42]:
var1=input("Enter Your Name : ")

Enter Your Name : Nilmani

In [43]:
print(var1)

Nilmani

In [44]:
print("Hello "+var1)

Hello Nilmani

In [45]:
print("Hello",var1)

Hello Nilmani

In [46]:
age=input("Enter your Age:")

Enter your Age:21

In [47]:
print(age)

21

In [49]:
age =age +5
print("My age is ",age)

TypeError: can only concatenate str (not "int") to str

In [50]:
type(age)

str

In [51]:
age_int=int(age)

In [52]:
print(age_int)

21

In [53]:
newage=age_int+5
print(newage)

26

In [54]:
age=int(input("Enter Your age : "))
print(age)
print(type(age))

Enter Your age : 21
21
<class 'int'>

# Control Structure

### if...else...elif

In [55]:
a=4
if a==5:
    print("Condition is True")
    print("sample stament")

In [56]:
a=4
if a==5:
    print("Condition is True")  
print("sample stament")

sample stament

In [58]:
a=1
if a==0:
    print("I am in IF block") 
else:    
    print("I am in Else Block")
    print("Another statement")

I am in Else Block
Another statement

In [60]:
a=1
if a==1:
    print("I am in IF block") 
else:    
    print("I am in Else Block")
print("Another statement")

I am in IF block
Another statement

In [61]:
a=1
if a==1:
    print("I am in IF block") 
else:    
    print("I am in Else Block")
    print("Another statement")

I am in IF block

In [64]:
var=45
if(var<200 and var>=50):
    print("Expression value is less than 200 & greater than 50")
    if var==150:
        print("which is 150")
    elif var == 100:
        print("which is 100")
    elif var==50: 
        printa("which is 50")
elif var<50: 
    print("Expression value is less than 50")
else :
    print("Could not find true Expression")

print("Good bye!")

Expression value is less than 50
Good bye!

In [66]:
var=50
if(var<200 and var>=50):
    print("Expression value is less than 200 & greater than 50")
    if var==150:
        print("which is 150")
    elif var == 100:
        print("which is 100")
    elif var==50: 
        print("which is 50")
elif var<50: 
    print("Expression value is less than 50")
else :
    print("Could not find true Expression")

print("Good bye!")

Expression value is less than 200 & greater than 50
which is 50
Good bye!

# wap to check Num is even Or odd

In [67]:
num=int(input("Enter any num:"))
if (num%2==0):
    print("Number is Even")
else:
    print("Number is odd")

Enter any num:3
Number is odd

# wap to check num is magical or not (Num is magical if it is divided by 3&5 Not with 10)

In [69]:
num=int(input("Enter number:"))
if (num%3==0 and num%5==0 and num%10!=0):
    print("Magical number")
else:
    print("Not magical number")

Enter number:15
Magical number